<!DOCTYPE HTML>
<html>
	<head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157430748-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-157430748-1');
        </script>
		<title>VITask | Privacy Policy</title>
		<meta charset="utf-8" />
        <link href="{{ url_for('static', filename='home/images/logo_light.png') }}" rel="icon">
        
        <meta name="description" content="VITask allows seamless integration of useful VTOP features on all platforms(Web, Android, iOS, Windows,macOS, Linux). One-click authentication without captcha, open APIs to develop your VTOP applications/widgets, Moodle integration, and a beautiful UI are some of the core features which make it an enhancement over VTOP.">
        <meta name="keywords" content="vitask,moodle,captcha,login,chennai,vit,vellore institute of technology,vtop,ffcs,vitask web,vitask app,vitask chennai,earthing,earthing in club penguin,technovit,vibrance,technovit chennai,vibrance chennai,vitask login,vitask moodle,vitask integration,vitask policies,vitask cloud">
        <meta name="author" content="VITask Team">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='downloads/assets/css/main.css')}}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='downloads/assets/css/noscript.css')}}" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
                            <img style='height: 100%; width: 100%; object-fit: contain' src="{{ url_for('static', filename='downloads/images/main-icon.png')}}">
						</div>
						<div class="content">
							<div class="inner">
								<h1>VITask Policies</h1>
								<p>We care about the Privacy and Safety of our users.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#policy">Terms and Policies</a></li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Intro -->
							<article id="policy">
								<h2 class="major">VITask Terms and Policies</h2>
								<span class="image main"><img src="{{ url_for('static', filename='downloads/images/pic04.jpg')}}" alt="" /></span>
								<blockquote>Privacy is power. What people don't know, they can't ruin. - VITask Team</blockquote>
                                <h3>TERMS AND CONDITIONS ("TERMS"): </h3>
                                <p>
                                Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the vitask.me Website and the VITask cross-platform applications (the "Service") operated by VITask ("us", "we", or "our").<br />

                                Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.<br />

                                By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.<br />

                                We are merely an interface such as a browser to ease the process of accessing your data.<br />
                                </p>
                                <h4>ACCOUNTS: </h4>
                                <p>
                                When you create an account with us, you must provide us information that is accurate, complete, and current at all times. Failure to do so constitutes a breach of the Terms, which may result in immediate termination of your account on our Service.<br />

                                You are responsible for safeguarding the password that you use to access the Service and for any activities or actions under your password, whether your password is with our Service or a third-party service.<br />

                                You agree not to disclose your password to any third party. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.<br />
                                </p>
                                <h4>LINKS TO OTHER WEB SITES: </h4>
                                <p>
                                Our Service may contain links to third-party web sites or services that are not owned or controlled by VITask.<br />

                                VITask has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party web sites or services. You further acknowledge and agree that VITask shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such web sites or services.<br />

                                We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.
                                </p>
                                <h4>RESTRICTIONS: </h4>
                                <p>You are specifically restricted from all of the following:</p><br />
                                <ul>
                                    <li>Selling, sublicensing and/or otherwise commercializing any of our material; <code>(Exception: Premium Plan for VITask API)</code></li>
                                    <li>Using this service in any way that is or may be damaging to this service;</li>
                                    <li>Using this service in any way that impacts user access to this service;</li>
                                    <li>Using this service contrary to applicable laws and regulations, or in any way may cause harm to the service, or to any person or business entity;</li>
                                    <li>Engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this service; <code>(Exception: Public API of VITask under our plans)</code></li>
                                    <li>Using this service to engage in any advertising or marketing.<code>(Exception: Premium Plan for VITask API)</code></li>
                                </ul>
                                <p>Certain areas of this service are restricted from being accessed by you and VITask may further restrict access by you to any areas of this service, at any time, in absolute discretion. Any user ID and password you may have for this service are confidential and you must maintain confidentiality as well.</p><br />
                                <h4>TERMINATION: </h4>
                                <p>
                                We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.<br />

                                All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.<br />

                                We may terminate or suspend your account immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.<br />

                                Upon termination, your right to use the Service will immediately cease. If you wish to terminate your account, you may simply discontinue using the Service.<br />

                                All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.<br />
                                </p>
                                <h4>INTELLECTUAL PROPERTY RIGHTS: </h4>
                                <p>
                                Other than the content you own, under these Terms, VITask and/or its licensors own all the intellectual property rights and materials contained in this service.<br />

                                You are granted limited license only for purposes of viewing the material contained on this service and using our public APIs.<br />
                                </p>
                                <h4>YOUR PRIVACY: </h4>
                                <p>Please read our Privacy Policy below.</p><br />
                                <h4>NO WARRANTIES: </h4>
                                <p>This service is provided "as is," with all faults, and VITask express no representations or warranties, of any kind related to this service or the materials contained on this service. Also, nothing contained on this service shall be interpreted as advising you.</p><br />
                                <h4>LIMITATION OF LIABILITY: </h4>
                                <p>In no event shall VITask, nor any of its officers, directors and employees, shall be held liable for anything arising out of or in any way connected with your use of this service whether such liability is under contract.  VITask, including its officers, directors and employees shall not be held liable for any indirect, consequential or special liability arising out of or in any way related to your use of this service.</p><br />
                                <h4>INDEMNIFICATION: </h4>
                                <p>You hereby indemnify to the fullest extent VITask from and against any and/or all liabilities, costs, demands, causes of action, damages and expenses arising in any way related to your breach of any of the provisions of these Terms.</p><br />
                                <h4>SEVERABILITY: </h4>
                                <p>If any provision of these Terms is found to be invalid under any applicable law, such provisions shall be deleted without affecting the remaining provisions herein.</p><br />
                                <h4>ASSIGNMENT: </h4>
                                <p>The VITask is allowed to assign, transfer, and subcontract its rights and/or obligations under these Terms without any notification. However, you are not allowed to assign, transfer, or subcontract any of your rights and/or obligations under these Terms.</p><br />
                                <h4>ENTIRE AGREEMENT: </h4>
                                <p>These Terms constitute the entire agreement between VITask and you in relation to your use of this service, and supersede all prior agreements and understandings.</p><br />
                                <h4>GOVERNING LAW & JURISDICTION: </h4>
                                <p>These Terms will be governed by and interpreted in accordance with the laws of the State of in, and you submit to the non-exclusive jurisdiction of the state and courts located in in for the resolution of any disputes.</p><br />
                                <h4>VARIATION OF TERMS: </h4>
                                <p>VITask is permitted to revise these Terms at any time as it sees fit, and by using this service you are expected to review these Terms on a regular basis.</p>
                                <h4>CONTACT US: </h4>
                                <p>If you have any questions about these Terms and Conditions, please contact us:
                                <br />By email: <code>apratimshukla6@gmail.com</code></p><br />
                                <h3>PRIVACY POLICY: </h3>
                                <p>VITask ("us", "we", or "our") operates the vitask.me Website and the VITask cross-platform applications (the "Service").<br />

                                This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data.<br />

                                We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions.<br /></p>
                                <h4>INFORMATION COLLECTION AND USE: </h4>
                                <p>
                                We collect several different types of information for various purposes to provide and improve our Service to you.<br />

                                TYPES OF DATA COLLECTED<br /><br />

                                <b>PERSONAL DATA</b><br />
                                    While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:<br /></p>
                                <ul>
                                    <li>Email address</li>
                                    <li>First name and last name</li>
                                    <li>Phone number</li>
                                    <li>Cookies and Usage Data</li>
                                </ul>
                                <p>
                                <b>USAGE DATA</b><br />
                                We may also collect information that your browser sends whenever you visit our Service or when you access the Service by or through a mobile device ("Usage Data").<br />

                                This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.<br />

                                When you access the Service by or through a mobile device, this Usage Data may include information such as the type of mobile device you use, your mobile device unique ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browser you use, unique device identifiers and other diagnostic data.<br />

                                <b>TRACKING & COOKIES DATA</b><br />
                                We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.<br />

                                Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a service and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.<br />

                                You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.<br />

                                Examples of Cookies we use:<br /></p>
                                
                                <ul>
                                    <li>Session Cookies. We use Session Cookies to operate our Service.</li>
                                    <li>Preference Cookies. We use Preference Cookies to remember your preferences and various settings.</li>
                                    <li>Security Cookies. We use Security Cookies for security purposes.</li>
                                </ul>
                                <h4>USE OF DATA: </h4>
                                <p>VITask uses the collected data for various purposes:</p>
                                <ul>
                                    <li>To provide and maintain the Service</li>
                                    <li>To notify you about changes to our Service</li>
                                    <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
                                    <li>To provide customer care and support</li>
                                    <li>To provide analysis or valuable information so that we can improve the Service
                                    To monitor the usage of the Service</li>
                                    <li>To detect, prevent and address technical issues</li>
                                </ul>
                                <h4>TRANSFER OF DATA: </h4>
                                <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.<br />

                                If you are located outside India and choose to provide information to us, please note that we transfer the data, including Personal Data, to India and process it there.<br />

                                Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.<br />

                                VITask will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.<br /></p>
                                
                                <h4>DISCLOSURE OF DATA: </h4>
                                <h5>LEGAL REQUIREMENTS</h5>
                                <p>VITask may disclose your Personal Data in the good faith belief that such action is necessary to:<br /></p>
                                <ul>
                                    <li>To comply with a legal obligation</li>
                                    <li>To protect and defend the rights or property of VITask</li>
                                    <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
                                    <li>To protect the personal safety of users of the Service or the public
                                    To protect against legal liability</li>
                                </ul>
                                
                                <h4>SECURITY OF DATA: </h4>
                                <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p><br />
                                
                                <h4>SERVICE PROVIDERS: </h4>
                                <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.<br />

                                These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p><br />
                                
                                <h4>LINKS TO OTHER SITES: </h4>
                                <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.<br />

                                We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p><br />
                                
                                <h4>CHILDREN'S PRIVACY: </h4>
                                <p>Our Service does not address anyone under the age of 17 ("Children").<br />

                                We do not knowingly collect personally identifiable information from anyone under the age of 17. If you are a parent or guardian and you are aware that your Children has provided us with Personal Data, please contact us. If we become aware that we have collected Personal Data from children without verification of parental consent, we take steps to remove that information from our servers.</p><br />
                                
                                <h4>CHANGES TO THIS PRIVACY POLICY: </h4>
                                <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.<br />

                                We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.<br />

                                You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p><br />
                                
                                <h4>CONTACT US: </h4>
                                <p>If you have any questions about this Privacy Policy, please contact us:<br />

                                By email: <code>apratimshukla6@gmail.com</code></p>
                                
							</article>					
					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright">Copyright &copy;2020 All rights reserved | <a href="{{ url_for('home') }}">VITask</a></p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='downloads/assets/js/jquery.min.js')}}"></script>
			<script src="{{ url_for('static', filename='downloads/assets/js/browser.min.js')}}"></script>
			<script src="{{ url_for('static', filename='downloads/assets/js/breakpoints.min.js')}}"></script>
			<script src="{{ url_for('static', filename='downloads/assets/js/util.js')}}"></script>
			<script src="{{ url_for('static', filename='downloads/assets/js/main.js')}}"></script>

	</body>
</html>
