.transition, .accordion-4, .vitask_dashboard .vitask_label i:before, .vitask_dashboard .vitask_label i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, .accordion-1, .vitask_dashboard .vitask_label {
  animation: flipdown 0.5s ease both;
}

.no-select, .accordion-2 {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.accordion {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 22%;
  margin: 90px 0;
  transform: translate(-50%, 0);
  box-shadow: 0 10px 0 0 #ff6873 inset;
  background-color: #fefffa;
  max-width: 600px;
  padding : 70px;
}
@media (max-width: 550px) {
  .accordion {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}

.accordion-1,.accordion-2 {
  color: #ff6873;
}

.accordion-1 {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

.accordion-2{
  font-size: 26px;
  line-height: 34px;
  font-weight: 300;
  letter-spacing: 1px;
  display: block;
  background-color: #fefffa;
  margin: 0;
  cursor: pointer;
}

.accordion-4 {
  color: rgba(48, 69, 92, 0.8);
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.vitask_dashboard{
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.vitask_dashboard .vitask_label {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px dotted #dce7eb;
}
.vitask_dashboard .vitask_label:nth-of-type(1) {
  animation-delay: 0.5s;
}
.vitask_dashboard .vitask_label:nth-of-type(2) {
  animation-delay: 0.75s;
}
.vitask_dashboard .vitask_label:nth-of-type(3) {
  animation-delay: 1s;
}
.vitask_dashboard .vitask_label:last-of-type {
  padding-bottom: 0;
}
.vitask_dashboard .vitask_label i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.vitask_dashboard .vitask_label i:before, .vitask_dashboard .vitask_label i:after {
  content: "";
  position: absolute;
  background-color: #ff6873;
  width: 3px;
  height: 9px;
}
.vitask_dashboard .vitask_label i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.vitask_dashboard .vitask_label i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.vitask_dashboard .vitask_label input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.vitask_dashboard .vitask_label input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.vitask_dashboard .vitask_label input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.vitask_dashboard .vitask_label input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

